<html lang="pt-br">
<head>
  
  <title>Lista Bus</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="https://images.vexels.com/media/users/3/134432/isolated/preview/7162b68a7a7e254cf6e1654362083f66-silhueta-de---nibus-escolar-ilustrada-plana-by-vexels.png"/>
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
  
    <div class="row">
      <div class="col-md-12 ">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-2 mb-2">
          
          <a class="navbar-brand" href="{% url 'menu' %}"><i class="fas fa-bus-alt"></i> Lista bus - Tarde</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
               
               
                
                <li class="nav-item">
                  <a class="btn nav-link text-left" data-toggle="modal" data-target="#exampleModalCenter3"><i class="fas fa-info"></i> NFORMAÇÕES IMPORTANTES </a>
                
                  
                </li>
                <li class="nav-item">
                  <a class="btn nav-link text-left" href="{% url 'novalista' %}"> Nova lista</a>
                
                  
                </li>
              </ul>
            </div>
          
        </nav>
      </div>
    </div><!--ok-->




<div class="row"> 
      <div class="modal fade mt-1 offset-md-2 col-12 col-sm-8 offset-md-2 " id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Se liga!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body" >

                <p><b>01.</b> O sistema não permite que o usuário coloque seu nome na lista, como <b>cadastrado</b>,  entre 11 e 20h.</p>
                <p><b>02.</b> O aluno que colocou o nome na lista e não for usar o ônibus deve apagar seu nome da lista (na tabela tem uma lixeira no canto direito).</p>
                <p><b>03.</b> O sistema mostra dois conjuntos de listas, a primeira é a lista de quem irá voltar no ônibus e a outra, que está abaixo, é de quem vai no ônibus. Se você escolher a opção "Ida e volta" o seu nome será colocado nas duas listas.</p>
                <p><b>04.</b> A lista do dia anterior deve ser apagada manualmente pelos usuários entre 19:00 e 19:59.
                </p>
                <p><b>05.</b> Sistema em fase de testes. Desenvolvido por: Roberto. Duvidas, reclamações ou sugestões: fale com ele.</p>
                
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                 
              </div>
            </div>
        </div>
      </div>
    </div>



<div class="row">
      <div class="col-md-12">
        {% if alerta %}
          <div class="alert alert-danger" role="alert"><i class="fas fa-exclamation-triangle"></i>
            Devido ao horário, seu nome foi adicionado à lista como carona.
          </div>
        {% endif %}
      </div>
    
    <div class="col-md-12">
        {% if alerta2 %}
          <div class="alert alert-danger" role="alert"><i class="fas fa-exclamation-triangle"></i>
            Esse horário não é permitido para começar uma nova lista! Horário permitido: 19:00 - 19:59.
          </div>
        {% endif %}
      </div>
    
</div>


   
    <!--nav -->
    <div class="row">
      <div class="col-md-12 ">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link " id="home-tab" data-toggle="tab" href="#cl" role="tab" aria-controls="home" aria-selected="false">Colocar o nome na lista</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#lv" role="tab" aria-controls="profile" aria-selected="true">Ver lista</a>
      </li>
    
      
     
    </ul>
  </div>
  </div>

    

      <div class="tab-content" id="myTabContent">
        
        <div class="tab-pane fade show active" id="lv" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
          <div class="col-md-12">
            <div class="card" style="border-top-color: white; border-bottom-color: white">
              <div class="card-body">
                  <div class="table-responsive">
                  <table class="table">
                      <thead class="thead-dark">
                      <tr>
                          <th scope="col"><i class="fas fa-peace"></i></th>
                          <th scope="col">Nome</th>
                          <th scope="col">Requer</th>
                          <th scope="col">Instituição</th>
                          <th scope="col">Situação</th>
                          <th scope="col">Data</th>

                          <th scope="col">Ação</th>

                        </tr>
                      </thead>
                      <tbody>
                        {% for lista in cadastrados %}
                        <tr class="table-warning">
                          <th scope="row">{{ forloop.counter }}</th>
                          <td >{{ lista.nome }}</td>
                          <td >{{ lista.get_acao_display }}</td>
                          
                          <td >{{ lista.instituicao }}</td>
                          <td >{{ lista.get_situacao_display }}</td>
                          <td  >{{ lista.data }}</td>

                          
                          <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                              
                              <a href="{% url 'tirar' lista.id %}" class="btn btn-danger" role="button" ><i class='fas fa-trash-alt'></i></a>
                          </div>
                        </td>
                        
                         
                      </tr>
                            <!-- Modal -->
                      
                      <!---->
                        {% endfor %}
                      </tbody>
                  </table>
                  </div>
              </div>
            </div>    
          </div>
        </div>
      





        <div class="row">
          <div class="col-md-12 ">
            <div class="card" style="border-top: white">
              <div class="card-body">
                  <div class="table-responsive">
                  <table class="table">
                      <thead class="thead">
                      <tr>
                          <th scope="col"><i class="fas fa-peace"></i></th>
                          
                          <th scope="col">Nome</th>
                          <th scope="col">Requer</th>
                          <th scope="col">Instituição</th>
                          <th scope="col">Situação</th>
                          <th scope="col">Data</th>
                          <th scope="col">Ação</th>


                        </tr>
                      </thead>
                      <tbody>
                        {% for lista in caronas %}
                        <tr class="table-danger">
                          <th scope="row">{{ forloop.counter }}</th>
                          
                          <td >{{ lista.nome }}</td>
                          <td >{{ lista.get_acao_display }}</td>
                          
                          <td >{{ lista.instituicao }}</td>
                          <td >{{ lista.get_situacao_display }}</td>
                          <td  >{{ lista.data }}</td>
                          
                          <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                              
                              <a href="{% url 'tirar' lista.id %}" class="btn btn-danger" role="button" ><i class='fas fa-trash-alt'></i></a>
                            
                          </div>
                        </td>
                        
                         
                      </tr>
                            <!-- Modal -->
                     
                      <!---->
                        {% endfor %}
                      </tbody>
                  </table>
                  </div>
              </div>
            </div>    
          </div>
        </div>
     



        
        <div class="row">
          <div class="col-md-12 mt-5 ">
            <div class="card" style=" border-bottom-color: white">
              <div class="card-body">
                  <div class="table-responsive">
                  <table class="table">
                      <thead class="thead-dark">
                      <tr>
                          <th scope="col"><i class="fas fa-peace"></i></th>
                          
                          <th scope="col">Nome</th>
                          <th scope="col">Requer</th>
                          <th scope="col">Instituição</th>
                          <th scope="col">Situação</th>
                          <th scope="col">Data</th>
                          <th scope="col">Ação</th>


                        </tr>
                      </thead>
                      <tbody>
                        {% for lista in cadastradosi %}




                        <tr class="table-warning">
                          <th scope="row">{{ forloop.counter }}</th>
                          
                          <td >{{ lista.nome }}</td>
                          <td >{{ lista.get_acao_display }}</td>
                          
                          <td >{{ lista.instituicao }}</td>
                          <td >{{ lista.get_situacao_display }}</td>
                          <td  >{{ lista.data }}</td>
                          
                          <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                              
                              <a href="{% url 'tirar' lista.id %}" class="btn btn-danger" role="button" ><i class='fas fa-trash-alt'></i></a>
                            
                          </div>
                        </td>
                        
                         
                      </tr>
                            <!-- Modal -->

                      <!---->
                        {% endfor %}
                      </tbody>
                  </table>
                  </div>
              </div>
            </div>    
          </div>
        </div>
      





        <div class="row">
          <div class="col-md-12 mb-3 ">
            <div class="card" style="border-top: white">
              <div class="card-body">
                  <div class="table-responsive">
                  <table class="table">
                      <thead class="thead">
                      <tr>
                          <th scope="col"><i class="fas fa-peace"></i></th>
                          
                          <th scope="col">Nome</th>
                          <th scope="col">Requer</th>
                          <th scope="col">Instituição</th>
                          <th scope="col">Situação</th>
                          <th scope="col">Data</th>
                          <th scope="col">Ação</th>

                        </tr>
                      </thead>
                      <tbody>
                        {% for lista in caronasi %}
                        <tr class="table-danger">
                          <th scope="row">{{ forloop.counter }}</th>
                          
                          <td >{{ lista.nome }}</td>
                          <td >{{ lista.get_acao_display }}</td>
                          
                          <td >{{ lista.instituicao }}</td>
                          <td >{{ lista.get_situacao_display }}</td>
                          <td  >{{ lista.data }}</td>
                          
                          <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                              
                              <a href="{% url 'tirar' lista.id %}" class="btn btn-danger" role="button" ><i class='fas fa-trash-alt'></i></a>
                            
                          </div>
                        </td>
                        
                         
                      </tr>
                            <!-- Modal -->
                      




                        {% endfor %}
                      </tbody>
                  </table>
                  </div>
              </div>
            </div>    
          </div>
        </div>
     </div>

      
          <div class="tab-pane fade  " id="cl" role="tabpanel" aria-labelledby="home-tab">
      <div class="row">
        <div class="mt-2 col-12  ">
          <form  action="{% url 'cadastrar' %}" method="POST" class="form-group"  >
             {%csrf_token%}
                   
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="id_nome">Nome</label>
                <input class="form-control"   type="text" name="nome" maxlength="100" required >               
              </div>
              <div class="form-group col-md-3">
                <label for="id_nome">Ação</label>
                <select class="form-control" name="acao" >
                  <option value="1" >Só ida</option>
                  <option value="2">Ida e volta</option>
                  <option  value="3">Só volta</option>
                               
                  </select>               
              </div>
              
              <div class="form-group col-md-3">
                <label for="id_nome">Instituição</label>
                <select class="form-control" name="instituicao" >
                  <option >IFRN</option>
                  <option >UFRN</option>
                  <option >UERN</option>
                  <option >UNP</option>
                  <option >Outra</option>               
                  </select>               
              </div>
              <div class="form-group col-md-3">
                <label for="id_nome">Situação</label>
                <select class="form-control" name="situacao" >
                  <option value="1">Cadastrado</option>
                  <option value="2">Carona</option>
                  
           
                  </select>               
              </div>

                       
          </div> 
          <div class="form-group">            
            <button  class="btn btn-primary float-right" type="submit" name="button">Adicionar</button> 
          </div>                                     
          </form>     
        </div>
        
      </div>    
    </div>
 
      
    

      
    
    
    <!---->
</div>
</div>

  

    
 

  
  



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
